<h1>All the authors</h1>
<% @authors.each do |author| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= author.name %></h3>
    </div>
    <div class="panel-body">
      <div class="btn-group pull-right" role="group" aria-label="...">
        <%= link_to 'Edit', edit_author_path(author), class: 'btn btn-default' %>
        <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'New Author', new_author_path, class: 'btn btn-primary pull-right' %>
<div class="clearfix"></div>